.modal {
  width: 100%;
  min-height: 100vh;
  height: auto;

  z-index: 200;

  position: absolute;
  top: 0;
  left: 0;

  backdrop-filter: blur(3px);
  background-color: rgba(0, 0, 0, 0.1);

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;

  overflow: hidden;
}

.content {
  font-size: 12px;

  width: 80%;
  height: 340px;
  background: rgb(255, 255, 255);
  padding: 24px;
  border-radius: 8px;
  margin: 0 auto;
  margin-top: -100px;

  display: flex;
  flex-flow: column;
  gap: 8px;
}

.options {
  height: 80%;
  overflow-y: scroll;
  display: flex;
  flex-flow: column;
  gap: 4px;
}

.option {
  background-color: #fff;
  border: 1px solid black;
  padding: 6px;
  border-radius: 8px;

  display: flex;
  flex-flow: row;
  justify-content: space-between;
  cursor: pointer;

  width: 100%;
}

.row {
  display: flex;
  flex-flow: row;
  gap: 6px;

  align-items: center;
}

.deselect {
  width: 20px;
  padding: 4px;

  background: transparent;
}

.deselect:hover {
  border: transparent;
  background: red;
}

.savebutton {
  width: 100px;
  margin: 0 auto;
}

button:disabled {
  background: #949494;
  color: #f0f0f0;
  border: none;
  cursor: not-allowed;
}

.disabled {
  opacity: 20%;
}

.selected {
  background: #212121;
  color: #f0f0f0;
}

.checkbox {
  width: 13.44px;
  height: 13.44px;
  background: #d9d9d9;
  border-radius: 3.1px;
}

.checkedbox {
  width: 13.44px;
  height: 13.44px;
  background: #212121;
  border-radius: 3.1px;
}

.checkicon {
  width: 13.44px;
  height: 13.44px;
}
