.landing {
  color: #f9f9f9;
  background: #282828;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.title {
  font-weight: 700;
  font-size: 2em;
  margin-bottom: 32px;
}
