.controls {
  display: flex;
  flex-flow: column nowrap;
  gap: 8px;
  padding: 16px;
  width: 600px;
  height: 100vh;

  position: relative;
  background: #f0f4fb;
}

.row {
  display: flex;
  flex-flow: row nowrap;

  gap: 8px;
}

.column {
  display: flex;
  flex-flow: column;
  width: 100%;

  gap: 8px;
}

.title {
  font-weight: 700;
}

.searchcontainer {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.searchinput {
  width: 100%;
  height: 32px;
  border: none;
  color: #212121;
  border-radius: 23px;
  font-size: 16px;
  outline: none;
  background-color: none;
  background-image: url("./assets/searchicon.svg");
  background-position: 10px 7px;
  background-repeat: no-repeat;
  padding: 12px 16px;
  padding-left: 36px;

  box-sizing: border-box;
}

.drag {
  cursor: pointer;
}

.option {
  background-color: #fff;

  border: 1px solid #ccc;
  border-radius: 8px;
  display: flex;
  padding: 4px 0;

  display: flex;
  flex-flow: row;

  align-items: center;
}

.activeitem {
  width: 300px;
  height: 50px;
  background: pink;
}

input[type="checkbox"] {
  accent-color: #212121;
  width: 1.5em;
  height: 1.5em;

  background: #1a1a1a;
}

input[type="checkbox"]:not(:checked) {
  background-color: grey;
}

.clearall {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 4px;

  cursor: pointer;

  & > img {
    width: 12px;
  }
}

.groupbubble {
  width: 100%;
  min-height: 196px;
  box-shadow: 0px 4px 10px 0px #0000000d;
  background-color: #fff;
  border-radius: 10px;
  border: none;

  display: flex;
  flex-flow: column nowrap;
  gap: 4px;

  padding: 14px 7px;
}

.headerrow {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 100%;
}

.addbutton {
  cursor: pointer;

  all: unset;
  transform: scale(0.7);

  & > img {
    cursor: pointer;
  }
}
