.page {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: black;
  overflow-y: scroll;
  /* background-color: rgb(167, 167, 167); */
}

.header {
  display: inline-flex;
  padding: 16px 33px 16px 47px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  width: 100%;
  background: #fff;
  box-shadow: 0px 7px 25px 0px rgba(0, 0, 0, 0.06);
}

.row {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  justify-content: space-between;
  /* margin: 32px 32px; */
}

.column {
  display: flex;
  flex-flow: column;
  height: 100vh;
  overflow-y: scroll;
  width: 100%;
}

.entry {
  min-width: 800px;
  height: 40px;
  background: rgb(225, 225, 225);
  border-radius: 10px;
  margin: 8px;
}

.code {
  font-family: "Lucida Console", monospace;
  color: #fff;
  background: #1a1648;
  border-radius: 4px;
  padding: 16px;
  width: 80%;
}
