.page {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  padding: 40px 0;
  /* min-width: 100vw; */
  /* max-width: 1440px; */

  color: black;

  overflow-y: scroll;
}

.row {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  justify-content: space-between;
  /* margin: 32px 32px; */

  border-radius: 10px;
  padding: 8px;
}

.column {
  display: flex;
  flex-flow: column;
  max-height: 800px;
  overflow-y: scroll;
}

.entry {
  min-width: 800px;
  height: 40px;
  background: rgb(225, 225, 225);
  border-radius: 10px;
  margin: 8px;
}
