.title {
  font-weight: 500;
  font-size: 20px;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 8px;
}

.row {
  display: flex;
  flex-flow: row nowrap;
  gap: 8px;
}

.filtercol {
  display: flex;
  flex-flow: column nowrap;
  gap: 16px;
}

.column {
  display: flex;
  flex-flow: column;
  width: 100%;
}

.dropdown {
  background-color: #fff;
  color: #666666;
  border: 1px solid #e4e4e4;
  border-radius: 2px;

  height: 32px;

  cursor: pointer;
  padding: 6px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  /* width: 100%; */
  width: 173px;
}

.dropdown-disabled {
  background-color: #f5f5f5b3;
  color: #666666;
  border: none;
}

.text {
  overflow-x: scroll;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.icon {
  width: 10px;
}

.minus {
  height: fit-content;
  margin-top: 5px;
  cursor: pointer;
}

.add {
  cursor: pointer;
}

.menu {
  background-color: #fff;

  border: 1px solid #e4e4e4;
  border-radius: 2px;
  margin: 4px 0;
  max-height: 177px;
  overflow-y: scroll;

  width: 100%;
}

.menuitem {
  height: 27px;
  padding: 8px;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  cursor: pointer;

  gap: 6px;

  color: #666666;
}

.menuitem:hover {
  background: #f5f5f5;
}

.selected {
  background: #f5f5f5;
}

.box {
  width: 12px;
  height: 12px;
  background: transparent;
  border: 0.75px solid #8d8d8d;
  border-radius: 3px;
}

.checked {
  width: 12px;
  height: 12px;
  background: #bababa;
  border: 0.75px solid #8d8d8d;
  border-radius: 3px;
}
